{% extends "layout.html" %}
{% block content %}
<div class="card side">
    <form method="POST" action="">
        {{ analysis_form.hidden_tag() }}
        <fieldset class="form-group">
            <legend><h3>Analysis Configuration</h3></legend>
            <hr class="rounded"><br>
            <div class="form-content">
                {{ analysis_form.serial_number.label(class="form-control-label") }}
                {{ analysis_form.serial_number(class="form-control") }}
            </div>
            <div class="form-content radio-btn-container">
                {{ analysis_form.unit.label(class="form-control-label") }}
                {{ analysis_form.unit(class="form-control") }}
            </div>
        </fieldset>
    </form>
</div>
<div class="card plot">
    <div id="chart"></div>
    <script type="text/javascript">
        var graphs = {{graphJson | safe}};
        var config = {displaylogo: false, responsive: true, modeBarButtonsToAdd: ["hoverCompareCartesian"]}
        Plotly.setPlotConfig(config)
        Plotly.newPlot("chart",graphs,{});
    </script>
</div>
{% endblock content %}