<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <script src="{{ url_for('static', filename='plotly.min.js') }}"></script>

    {% if title %}
        <title>CCR App - {{ title }}</title>
    {% else %}
        <title>CCR App</title>
    {% endif %}
</head>
<body>
    <header class="primary-header">
        <div class="nav-wrapper">
            <a class="logo" href="#">
                <img class="radar-logo" src="{{ url_for('static', filename='images/radar-ppi.svg') }}">
                <div class="radar-logo pointer"></div>
                <h1>CCR Data Visualization Tool</h1>
            </a>
            <nav class="navbar">
                <ul role="list" class="nav-list" id="nav-list">
                    <li class="nav-item"><a href="/analyze" class="nav-link">Analyze</a></li>
                    <li class="nav-item"><a href="/database" class="nav-link">Database</a></li>
                    <li class="nav-item"><a href="/measure" class="nav-link">Measure</a></li>
                    <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                </ul>
            </nav>
            <button id="settings-btn">
                <img src="{{ url_for('static', filename='images/gear-solid.svg') }}">
            </button>
        </div>
    </header>
    <main>
        <dialog class="card settings-modal" id="modal">
            <form method="dialog" action="">
                {{ analysis_form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend><h3>Settings</h3></legend>
                    <hr class="rounded"><br>
                    <div class="form-content">
                        {{ settings_form.submit(class="form-control") }}
                    </div>
                </fieldset>
            </form>
        </dialog>
        <div class="main-container">
            {% block content %}{% endblock %}
        </div>
    </main>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>