<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <script src="{{ url_for('static', filename='plotly.min.js') }}"></script>

    {% if title %}
        <title>RF Tool - {{ title }}</title>
    {% else %}
        <title>RF Tool</title>
    {% endif %}
</head>
<body>
    <header class="primary-header">
        <div class="nav-wrapper">
            <a class="logo" href="#">
                <img class="radar-logo" src="{{ url_for('static', filename='images/radar-ppi.svg') }}">
                <div class="radar-logo pointer"></div>
                <h1>DNA40 RF Analysis Tool</h1>
            </a>
            <nav class="navbar">
                <ul role="list" class="nav-list">
                    <li><a href="/analyze">Analyze</a></li>
                    <li><a href="/database">Database</a></li>
                    <li><a href="#">Measure</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
            <button id="settings-btn">
                <img src="{{ url_for('static', filename='images/gear-solid.svg') }}">
            </button>
        </div>
    </header>
    <main>
        <dialog class="card settings-modal" id="modal">
            <form method="dialog" action="">
                {{ settings_form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend><h3>Settings</h3></legend>
                    <hr class="rounded"><br>
                    <div class="form-content">
                        {{ settings_form.submit(class="form-control") }}
                    </div>
                </fieldset>
            </form>
        </dialog>
        <div class="main-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class = "alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </main>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>