<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <script src="{{ url_for('static', filename='plotly.min.js') }}"></script>

    {% if title %}
        <title>CCR App - {{ title }}</title>
    {% else %}
        <title>CCR App</title>
    {% endif %}
</head>
<body>
    <header class="primary-header">
        <div class="nav-wrapper">
            <a class="logo" href="#">
                <img class="radar-logo" src="{{ url_for('static', filename='images/radar-ppi.svg') }}">
                <div class="radar-logo pointer"></div>
                <h1>CCR Data Visualization Tool</h1>
            </a>
            <nav class="navbar">
                <ul role="list" class="nav-list">
                    <li><a href="#">Analyze</a></li>
                    <li><a href="#">Database</a></li>
                    <li><a href="#">Measure</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
            <button id="settings-btn">
                <img src="{{ url_for('static', filename='images/gear-solid.svg') }}">
            </button>
        </div>
    </header>
    <main>
        <dialog class="card settings-modal" id="modal">
            <form method="dialog" action="">
                {{ analysis_form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend><h3>Settings</h3></legend>
                    <hr class="rounded"><br>
                    <div class="form-content">
                        {{ settings_form.submit(class="form-control") }}
                    </div>
                </fieldset>
            </form>
        </dialog>
        <div class="main-container">
            <div class="card side">
                <form method="POST" action="">
                    {{ analysis_form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend><h3>Analysis Configuration</h3></legend>
                        <hr class="rounded"><br>
                        <div class="form-content">
                            {{ analysis_form.serial_number.label(class="form-control-label") }}
                            {{ analysis_form.serial_number(class="form-control") }}
                        </div>
                        <div class="form-content radio-btn-container">
                            {{ analysis_form.unit.label(class="form-control-label") }}
                            {{ analysis_form.unit(class="form-control") }}
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card plot">
                <div id="chart"></div>
                <script type="text/javascript">
                    var graphs = {{graphJson | safe}};
                    var config = {displaylogo: false, responsive: true, modeBarButtonsToAdd: ["hoverCompareCartesian"]}
                    Plotly.setPlotConfig(config)
                    Plotly.newPlot("chart",graphs,{});
                </script>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>