:root {
    --cool-grey: #222222;
    --background-grey: #121212;
    --lighter-grey: #363535;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
    background-color: var(--background-grey);
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.navbar {
    padding: 2em 0;
    height: 8%;
    background-color: var(--cool-grey);
    display: flex;
    align-items: center;
    justify-content: left;
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.3);
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar h1 {
    font-weight: bold;
    font-size: 2rem;
}

.navbar .radar-logo {
    height: 3.5em;
    width: 3.5em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    flex-shrink: 0;
}

.navbar .radar-logo:before {
    content: "";
    position: absolute;
    width: 100%;
    border-top: 1px solid white;
}

.navbar .radar-logo:after {
    content: "";
    position: absolute;
    width: 100%;
    border-top: 1px solid white;
    transform: rotate(90deg);
}

.navbar .radar-logo .circle {
    position: absolute;
    border: 1px solid white;
    height: var(--size,100%);
    width: var(--size,100%);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .radar-logo .dot {
    background-color: white;
    height: 2.5%;
    width: 2.5%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar .radar-logo .pointer {
    position: absolute;
    z-index: 1000;
    width: 50%;
    height: 50%;
    top: 0;
    left: 0;
    border-radius: 100% 0% 0% 0%;
    transform-origin: 100% 100%;
    background-image: linear-gradient(60deg,
        rgba(0,189,0,0.8) 0%,
        rgba(0,0,0,0.02) 70%,
        rgba(0,0,0,0) 100%);
    -webkit-animation: rotate360 3s linear infinite;
    animation: rotate360 3s linear infinite;
}

.navbar .radar-logo .pointer:before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -1px;
    border-top: 2px solid rgba(0, 189, 0, 0.8);
    box-shadow: 0 0 3px rgba(0, 189, 0, 0.6);
    border-radius: 9px;
}

.navbar .radar-logo .pointer:after {
    content: "";
    position: absolute;
    width: 45%;
    height: 35%;
    background-image: radial-gradiant(ellipse at 40% 40%,#fff 1%, #d2ff9d40, #fff0 60%);
    border-radius: 50% 100%;
    transform: rotate(45deg);
    filter: blur(15px);
    opacity: 0.65;
}

.navbar .radar-logo .circle.ring-3 { --size: 100% }
.navbar .radar-logo .circle.ring-2 { --size: 66% }
.navbar .radar-logo .circle.ring-1 { --size: 33% }

@-webkit-keyframes rotate360 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes rotate360 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.main-container {
    margin: 1em;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

.card {
    padding: 0.5em;
    height: 100%;
    border-radius: 10px;
    background-color: var(--lighter-grey);
}

.side {
    flex: 0 1 30%;
}

.side:hover {
    box-shadow: 3px 3px 5px rgb(0 0 0 / 0.3);
}

.plot {
    flex: 0 1 70%;
    height: 100%
}

.plot:hover {
    box-shadow: 3px 3px 5px rgb(0 0 0 / 0.3);
}

h3 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem
}

input[type="radio"], label {
    cursor: pointer;
}

.radio-btn-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}