:root {
    --cool-grey: #222222;
    --background-grey: #121212;
    --lighter-grey: #363535;

    --primary-header-height: 6rem;
    --logo-size-unit: 4rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
    background-color: var(--background-grey);
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.primary-header {
    height: var(--primary-header-height);
    background-color: var(--cool-grey);
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.3);
    position: sticky;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.logo h1{
    font-weight: bold;
    font-size: 2rem;
}

.nav-list {
    display: flex;
    gap: 3rem;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 1rem;
    transition: 0.3s;
}

.nav-list a:hover,
.nav-list a:focus {
    border-radius: 100px;
    background-color: rgba(0, 189, 0, 0.8);
    /*color: var(--cool-grey);*/
}

.navbar {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.radar-logo {
    width: var(--logo-size-unit);
    position: relative;
    display: flex;
    flex-wrap: none;
    align-items: center;
    margin: calc((var(--primary-header-height) - var(--logo-size-unit)) / 2) 1rem;
    flex-shrink: 0;
}

.pointer {
    position: absolute;
    width: calc(var(--logo-size-unit) / 2);
    height: calc(var(--logo-size-unit) / 2);
    top: 0;
    left: 0;
    border-radius: 100% 0% 0% 0%;
    transform-origin: 100% 100%;
    background-image: linear-gradient(60deg,
        rgba(0,189,0,0.8) 0%,
        rgba(0,0,0,0.02) 70%,
        rgba(0,0,0,0) 100%);
    -webkit-animation: rotate360 3s linear infinite;
    animation: rotate360 3s linear infinite;
}

.pointer:before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -1px;
    border-top: 2px solid rgba(0, 189, 0, 0.8);
    box-shadow: 0 0 3px rgba(0, 189, 0, 0.6);
    border-radius: 9px;
}

#settings-btn {
    width: 30px;
    height: 30px;
    margin: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#settings-btn,
#settings-btn:active,
#settings-btn:focus {
    outline: none;
}

.navbar div:last-child {
    margin-left: auto;
}

@-webkit-keyframes rotate360 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes rotate360 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.main-container {
    margin: 1rem;
    padding: 0;
    height: calc(100vh - var(--primary-header-height) - (1rem * 2));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

.settings-modal {
    position: relative;
    margin: 0 auto;
    top: 25%;
    border: 0;
    padding: 1em;
  }

.settings-modal::backdrop {
    background: rgb(0 0 0 / 0.5);
  }

form {
    display: grid;
    gap: 2em;
}

.card {
    padding: 0.5em;
    border-radius: 10px;
    background-color: var(--lighter-grey);
}

.side {
    height: 100%;
    flex: 0 1 30%;
    padding-left: 0.5em;
}

.side:hover {
    box-shadow: 3px 3px 5px rgb(0 0 0 / 0.3);
}

.plot {
    height: 100%;
    flex: 0 1 70%;
    height: 100%
}

.plot:hover {
    box-shadow: 3px 3px 5px rgb(0 0 0 / 0.3);
}

h3 {
    font-weight: bold;
    font-size: 1.5rem;
}

.side ul {
    display: flex;
}

.form-group {
    border: none;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.form-group legend {
    text-align: center;
}

.form-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.form-control {
    flex-grow: 1;
    min-width: 25%;
}

.rounded {
    border-top: 2px solid #bbb;
    border-radius: 100px;
    opacity: 0.4;
}

.form-content input[type="radio"], 
.form-content label {
    cursor: pointer;
}

.radio-btn-container {
    display: flex;
    justify-content: space-around;
}