<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>CCR App - {{ title }}</title>
    {% else %}
        <title>CCR App</title>
    {% endif %}
</head>
<body>
    <nav class="navbar">
        <div class="radar-logo">
            <div class="circle ring-3"></div>
            <div class="circle ring-2"></div>
            <div class="circle ring-1"></div>
            <div class="dot"></div>
            <div class="pointer"></div>
        </div>
        <h1>CCR Data Visualization Tool</h1>
    </nav>
    <div class="main-container">
        <div class="card side">
        </div>
        <div class="card plot">
        </div>
    </div>
</body>
</html>