<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <script src="{{ url_for('static', filename='plotly.min.js') }}"></script>

    {% if title %}
        <title>CCR App - {{ title }}</title>
    {% else %}
        <title>CCR App</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar">
            <div class="radar-logo">
                <div class="circle ring-3"></div>
                <div class="circle ring-2"></div>
                <div class="circle ring-1"></div>
                <div class="dot"></div>
                <div class="pointer"></div>
            </div>
            <h1>CCR Data Visualization Tool</h1>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                    <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                </svg>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-container">
            <div class="card side">
                <h3>Analysis Configuration:</h3>
                <label for="CCR">CCR Serial Number:</label>
                <select id="CCR" method="GET" action="/">
                    <option value="{{ccr_sns[0]}}" selected>{{ccr_sns[0]}}</option>
                    {% for sn in ccr_sns[1:] %}
                        <option value="{{sn}}">{{sn}}</option>
                    {% endfor %}
                </select>
                <fieldset>
                    <legend>Select a Unit</legend>
                    <div class="radio-btn-container">
                        <div>
                            <input type="radio" id="main" name="CCR" value="main" checked>
                            <label for="main">Main</label>
                        </div>
                        <div>
                            <input type="radio" id="interface" name="CCR" value="interface">
                            <label for="interface">Interface</label>
                        </div>
                        <div>
                            <input type="radio" id="expansion" name="CCR" value="expansion">
                            <label for="expansion">Expansion</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Select an RF Path</legend>
                    <div class="list-box-container">
                        <table border="1">
                            <tr>
                                <th>Id</th>
                                <th>Input Jack</th>
                                <th>Output Jack</th>
                            </tr>
                        </table>
                    </div>
                </fieldset>
            </div>
            <div class="card plot">
                <div id="chart"></div>
                <script type="text/javascript">
                    var graphs = {{graphJson | safe}};
                    var config = {displaylogo: false, responsive: true, modeBarButtonsToAdd: ["hoverCompareCartesian"]}
                    Plotly.setPlotConfig(config)
                    Plotly.newPlot("chart",graphs,{});
                </script>
            </div>
        </div>
    </main>
</body>
</html>